@import "compass";
@import "mixins";
@import "aui_variables";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

@import url(partials/header.css);
@import url(partials/footer.css);
@import url(partials/dashboard.css);
@import url(partials/dashboard-navigation.css);
@import url(partials/main-navigation.css);
@import url(partials/login.css);
@import url(partials/tabs.css);
@import url(partials/accordion.css);
@import url(partials/todo.css);
@import url(partials/find-company.css);
@import url(partials/add-organization.css);
/*@import url(partials/organisation-selector.css);*/
@import url(custom_common.css);


/* ---------- Base styles ---------- */
.aui {
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	a:focus {
		outline: none;
	}
	
	input[readonly] {
		cursor: auto;
	}
	
	.separator {
		border-color: #BFBFBF transparent #FFF;
		border-style: solid;
		border-width: 1px 0;
	}
	#wrapper {
		position: relative;
		height: auto !important;
		min-height: 100%;	
	}
	.site-title {
		a:hover {
			text-decoration: none;
		}
		.site-name {
			display: inline-block;
		}
	}
	#skip-to-content:focus {
		clip: rect(auto auto auto auto);
		margin-top: 35px;
		right: 5px;
		z-index: 200;
	}
	#sign-in {
		background: inherit;
		font-weight: normal;
		padding: inherit;
		position: relative;
	}
	.sign-in {
		display: none;
	}
	.redirected-to-message {
		margin-right: 10px;
		a {
			background: #ECFBFF;
			border: 1px solid #ADE5FA;
			color: #8D8D8D;
			padding: 5px;
		}
	}
	.site-navigation {
		margin-bottom: 0;
	}
	.taglib-portal-message {
		margin-bottom: 0;
	}
	#to-top {
		background-color: #fff;
		border-radius: 20px;
		bottom: 85px;
		color: #555;
		display: none;
		font-size: 20px;
		height: 40px;
		left: 5px;
		line-height: 38px;
		opacity: 0.7;
		position: fixed;
		text-align: center;
		width: 40px;
		z-index: 5000;
		&:hover {
			opacity: 1;
		}
	}	
	/*--------------------------------
				Content
	--------------------------------*/
	#content {
		width: auto;
		margin-left: 200px;
		display: block;
		padding: 20px;
	}

	.coming_soon{
		padding: 15px;
		font-size: 14px;
	}
	/* ---------- Dockbar ---------- */
	.dockbar {
		&.navbar {
			.nav {
				li {
					&.dropdown {
						&.active {
							.dropdown-toggle {
								background-color: transparent;
								&:hover {
									color: #FFF;
								}
							}
						}
						&.staging-toggle .dropdown-menu {
							background-color: #55B8EC;
						}
					}
				}
				> li {
					> a {
						margin: 0 5px 0 0;
						padding: 3px 10px;
						&:hover {
							background-color: #2FA4F5;
						}
					}
				}
			}
		}
		.info-button {
			top: 9px;
			a {
				margin-top: -4px;
				&:hover {
					color: #FFF;
				}
			}
		}
		.staging-bar {
			.staging-toggle {
				color: #FFF;
				li a {
					color: #FFF;
					font-weight: 300;
					text-decoration: none;
				}
				.btn-link {
					color: #FFF;
					font-size: 12px;
				}
			}
		}
		.page-customization-bar .btn {
			border-color: transparent;
			&:hover, &:focus {
				background: transparent;
				text-decoration: underline;
			}
		}
	}
	.dockbar, .dockbar-split .dockbar {
		.navbar-inner {
			background-color: $dockbarGradientStart;
			@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
			.nav {
				> li {
					background-color: $dockbarGradientStart;
					@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				}
			}
		}
	}
	.dockbar-split .dockbar {
		.info-button {
			top: 9px;
		}
		.navbar-inner {
			.nav-account-controls {
				border-top: 1px solid #00AEFF;
				&.nav-account-controls-notice {
					margin-top: 10px;
					top: 50px;
				}
			}
			.nav-add-controls {
				background: transparent;
				border-top-width: 0;
				&.nav-add-controls-notice {
					top: 70px;
				}
				> li {
					background-color: transparent;
					@include background-image(none);
					> a {
						background: #45CBF5;
						line-height: inherit;
						padding: 6px 8px;
						@include respond-to(phone, tablet) {
							background: transparent;
						}
						&:hover {
							background: #5BBAE8;
						}
						&.toggle-controls-link {
							background: #92F545;

							@include respond-to(phone, tablet) {
								background: transparent;
							}
						}
					}
				}
			}
			.page-customization-bar {
				background-color: #6DA4E4;
				background-color: rgba(109, 168, 228, 0.9);
				line-height: 20px;
			}
			.page-customization-bar-text {
				height: 43px;
			}
			.staging-bar {
				margin: 6px 0;
				> li {
					background: transparent;
				}
			}
		}
	}
	/* ---------- Portlet wrapper and icons ---------- */
	.portlet-content, .portlet-minimized .portlet-content-container {
		border: 1px solid #EAEAEA;
		border-top-width: 0;
		padding: 12px 10px 10px;
	}
	.portlet-topper {
		background: #D3D3D3;
		color: #FFF;
		padding: 0;
		position: relative;
		z-index: 1;
		.portlet-title {
			font-size: 1em;
			font-weight: normal;
			line-height: 2.2;
			margin: 0;
			i, span img {
				display: none;
			}
		}
		.portlet-topper-toolbar {
			font-size: 0.8em;
			margin: -10px 0 0;
			padding: 0;
			right: 10px;
			top: 50%;
		}
	}
	.lfr-configurator-visibility .portlet-topper {
		background-color: #A9A9A9;
	}
	.portlet-borderless-bar .portlet-options {
		.dropdown-toggle {
			background-image: url(../images/portlet/options_borderless.png);
		}
	}
	.signed-in.controls-visible .portlet-title {
		padding-right: 80px;
	}

	.portlet-topper .portlet-title {
		background: #eee;
		border-bottom: 2px solid #ddd;
		color: #333;
		padding: 5px 15px;
	}
	.portlet-asset-publisher .asset-content, .portlet-asset-publisher .asset-summary, .portlet-asset-publisher .asset-title, .portlet-asset-publisher .header-title, .portlet-asset-publisher li.title-list, .portlet-blogs .entry-body, .portlet-blogs .entry-title, .portlet-blogs .header-title, .portlet-journal-content .journal-content-article, .portlet-message-boards .header-title, .portlet-message-boards .thread-body {
		@include hyphenation;
	}
	.portlet-icons {
		float: none;
	}
	.page-maximized .portlet-icons {
		font-size: 11px;
	}
	.dropdown-menu > li.portlet-close > a {
		color: #C00;
		font-weight: bold;
		&:focus, &:hover {
			background-color: #C00;
			background-image: none;
			color: #FFF;
		}
	}
	/* ---------- Set password reminder portlet ---------- */
	.update-reminder-query {
		.control-group {
			max-width: 350px;
		}
		.reminder-query-answer {
			height: 30px;
			width: 100%;
		}
		.reminder-query-question {
			width: 100%;
		}
	}
	/* ---------- Staging bar ---------- */
	.navbar-inner .nav.staging-bar {
		border-top-width: 0;
		position: static;
		li {
			.page-variations {
				display: inline-block;
				margin-left: 8px;
				a {
					text-decoration: none;
				}
			}
		}
		li.dropdown {
			position: static;
		}
	}
	.portlet-staging-bar {
		.row-fluid .layout-revision-info {
			.layout-revision-version {
				label {
					color: #B6DDF5;
				}
			}
		}
		.label-submit {
			background-color: #469DE3;
		}
		.layout-branch-selector, .layout-set-branch-selector {
			.icon-caret-down {
				background-color: #469DE3;
			}
		}
		.page-variations-options, .site-pages-variation-options {
			.lfr-icon-menu {
				background-color: #50AFE9;

				.icon-globe, .icon-file {
					background-color: #469DE3;
				}
			}
		}
	}
	/* ---------- Hudcrumbs ---------- */
	.lfr-hudcrumbs {
		position: fixed;
		top: 0;
		z-index: 300;
		.breadcrumb {
			background: #414445;
			background: rgba(0, 0, 0, 0.8);
			li {
				a, span {
					color: #FFF;
				}
			}
		}
	}
	/* ---------- Miscellaneous ---------- */
	.lfr-panel-container {
		background-color: transparent;
	}
	.lfr-portlet-title-editable-content .field {
		display: inline;
		float: none;
	}
	.portlet-journal-content .lfr-icon-actions {
		margin-bottom: 3px;
	}
	/* ---------- Extras ---------- */
	.left-bar {
		width: 201px;
		float: left;
		background: $menuBackgroundColor;
	}
	.right-bar {	
		float: right;
		
		display: inline-block;
	}
	.update-reminder-query .reminder-query-answer {
		@include box-sizing(border-box);
	}
	.modify-pages .delete-tab {
		display: none;
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.3s ease);
		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}
	%portlet-action-bar-custom {
		@include border-radius(20px);
		@include box-shadow(inset 0 1px 3px #000);
	}
	.portlet-borderless-bar {
		@extend %portlet-action-bar-custom;
	}
	.portlet-content, .portlet-minimized .portlet-content-container {
		@include border-radius(0 0 3px 3px);
	}
	.portlet-content {
		.lfr-icon-actions {
			@extend %portlet-action-bar-custom;
		}
	}
	.portlet-minimized {
		.portlet-content {
			border-width: 0;
		}
		.portlet-topper {
			@include border-radius(3px);
		}
	}
	.portlet-nested-portlets .portlet-body {
		.portlet, .portlet-borderless-container {
			@include box-shadow(none);
		}
	}
	.portlet-topper {
		@include border-radius(0);
	}
	.dockbar .staging-bar .staging-toggle > a {
		@include border-radius(0);
	}
	.dockbar-split .dockbar {
		.navbar-inner {
			@include box-shadow(none);
			@include text-shadow(none);
			@include respond-to(phone, tablet) {
				background-color: transparent;			
			}
			.nav {
				li.dropdown.open {
					> .dropdown-toggle {
						background-color: $dockbarOpenGradientStart;
						@include background-image(linear-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd));
						@include box-shadow(none);
					}
				}
				li.dropdown.active {
					> .staging-link.dropdown-toggle {
						background-color: #55B8EC;
						background-image: none;
					}
				}
			}
		}
	}
	.lfr-hudcrumbs {
		display: none;
		ul {
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		}
		.breadcrumb li {
			a, span {
				@include text-shadow(-1px -1px #000);
			}
		}
	}
	/* ---------- IE8 ---------- */
	&.ie8 {
		.dockbar-split .dockbar .navbar-inner .info-button a {
			margin-top: -2px;
		}
	}	
}

/*----------- Styles for testing content -----*/
.aui {
	.portlet-borderless .page-header {
		background-color: #f3f3f3;
	    border-bottom: 1px solid #ddd;
	    border-top: 1px solid #ddd;
	    margin: -31px -20px 20px;
	    padding: 10px 20px 9px;
		.page-header-top {
			border-top: medium none;
    		margin: -20px -20px 20px;
		}
	}	
	.sub-header {
	    border-bottom: 2px solid #ccc;
	    margin: 10px -20px 20px;
	    padding: 10px 20px;
	} 
	.well {
	    background-color: whitesmoke;
	    border: 1px solid #e3e3e3;
	    border-radius: 2px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	    margin-bottom: 20px;
	    min-height: 20px;
	    padding: 19px;
	    margin-top: 20px;
	}

	.grid-box, .grid-boxes > div > div {
	    background-color: #ddd;
	    font-size: 12px;
	    margin: 0 0 20px;
	    padding: 5px;
	    text-align: center;
	}
	.btn-content {
		color: #333;
	}
	.nav-pills > .active > a, 
	.nav-pills > .active > a:hover, 
	.nav-pills > .active > a:focus {
		background: #db4a39;
		border-radius: 0;
	}
	.nav-pills > li > a {
		padding: 10px 15px;
	}
	.nav > li > a:hover, .aui .nav > li > a:focus {
		border-radius: 0;
		color: #e74431;
	}	
	.nav > .disabled > a {
		&:hover {
			background: none;
			color: #999999;
		}
	}
	
}



/* Styles to reduce size of inputs in dashboard form */
 .tabbable-content #contactForm .control-group select, 
 .tabbable-content #contactForm .control-group textarea, 
 .tabbable-content #reportManagerForm .control-group select,  
 .tabbable-content #reportManagerForm .control-group textarea, 
 .tabbable-content #contactForm .control-group input[type="text"], 
 .tabbable-content #reportManagerForm .control-group input[type="text"] {
    width: 60% !important;
}


/*
body {
	zoom: 0.75;
    -moz-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}
*/


/* Styles for leads table
*/

.table-striped {
	th { 
		background:#EEEEEE;
		color: #E74431;
	}

	tbody>tr:nth-child(2n+1)>td, tbody>tr:nth-child(2n+1)>th {
		background-color: #F9F9F9 !important;
	}
	
	.leads-date {
		width: 10%;
	}
	
	.leads-company {
		width: 9%;
	}

	.leads-contract {
		width: 10%;
	}

	.leads-contact {
		width: 10%;
	}

	.leads-method {
		width: 10%;
	}

	.leads-progress {
		width: 7.5%;
	}

	.leads-status {
		width: 8.5%;
	}

	.leads-comments {
		width: 25%;
	}
	
	.leads-actions {
		.width: 10%
	}
	
	.leads-status-inactive {
		font-style: italic;
		text-decoration: line-through;
	}
	
	.leads-status-cold {
		font-style: italic;
	}
	
	.leads-status-warm {
		font-weight: bold;
	}
	
	.leads-status-hot {
		font-weight: bold;
		text-decoration: underline;
	}
}


/* Adaptation */

.aui {
	@include respond-to(phone, tablet) {
		.portlet-login #_58_login-buttons .btn {
			display: inline-block;
		}
		.portlet-login .input-append input.field {
			width: 206px;
		}
		.portlet-login .form-horizontal .control-group {
			display: block;
			margin-bottom: 5px;
			.form-validator-stack.help-inline {
				display: block !important;
				text-align: center !important;
				margin-top: 0 !important;
			}
		}
		.portlet-login .form-horizontal .control-label {
			text-align: center;
			width: 100%;
		}
		.create-account .control-group input.field, .form-validator-stack.help-inline, .create-account .taglib-captcha .captcha, .create-account .taglib-captcha .refresh {
			max-width: 100% !important;
		}
		.portlet-login a[id*="login-button-pass"], #portlet_new-password a[id*="login-button-pass"], .portlet-login #login, #portlet_new-password #login {
			width: auto;
			margin-top: 0;
		}
		.portlet-login a[id*="login-btn-register"], #portlet_new-password a[id*="login-btn-register"], .button-holder .btn, .portlet-login .btn.btn-success,
		.buton-wrap .btn {
			font-size: 14px;
		}
		.portlet-login .form .button-holder .btn, .portlet-login .btn.btn-success, .buton-wrap .btn {
			padding: 6px 12px;
		}
		.portlet-login .form fieldset .button-holder .btn, .portlet-login .form fieldset .btn.btn-success {
			margin-top: 0px;
			display: inline-block;
			width: auto;
		}
		.columns-2 .portlet-column-first.span8, .columns-2 .portlet-column-last.span4 {
			width: 100%;
			padding: 20px 10px;
			float: none;
			margin: 0;
		}
		#navigation {
			display: block;
			.collapse.nav-collapse {
				overflow: visible;
			}
			.nav {
				margin: 0px 10px;
				.counter {
					right: -7px;
					top: -4px;
				}
			}
			.nav li {
				display: inline-block;
				margin-right: 6px;
			}
			.nav > li > a {
				padding: 5px 15px 5px 10px;
			}
		}
		#search {
			padding: 10px;
			input[type="image"] {
				right: 20px;
				top: 20px;
			}
			input[type="text"] {
    			margin-bottom: -5px;
			}
		}
		.lfr-search-container {
			margin-top: 0em;
		}
		.portlet-borderless-container {
			padding: 3px 0px;
		}
	}
	@include respond-to(phone) {
		.portlet-login, #portlet_new-password {
			padding: 0px;
		}
	}
}