<div class="add-organization">
	<h3>Organization name</h3>
	<form>
		<div class="control-group row-fluid">
			<div class="controls span6">
				<input type="text" class="span12" id="phone" placeholder="Phone" />
			</div>
			<div class="controls span6">
				<input type="text" class="span12" id="email" placeholder="Email" />
			</div>
		</div>
		<div class="control-group row-fluid">
			<div class="controls span6">
				<input type="text" class="span12" id="address1" placeholder="Address" />
			</div>
			<div class="controls span6">
				<input type="text" class="span12" id="address2" placeholder="Address" />
			</div>
		</div>
		<div class="control-group row-fluid">
			<div class="controls span6">
				<input type="text" class="span12" id="country" placeholder="Country" />
			</div>
			<div class="controls span6">
				<input type="text" class="span12" id="state" placeholder="State" />
			</div>
		</div>
		<div class="control-group row-fluid">
			<div class="controls span6">
				<input type="text" class="span12" id="website" placeholder="Website" />
			</div>
			<div class="controls span6">
				<input type="text" class="span12" placeholder="" />
			</div>
		</div>
		<div class="control-group row-fluid">
			<div class="controls text-center">
				<input type="text" class="span6" id="industry" placeholder="Industry" />
			</div>
		</div>
		<div class="control-group row-fluid">
			<div class="controls span6">
				<input type="text" class="span12" id="size" placeholder="Size" />
			</div>
			<div class="controls span6">
				<input type="text" class="span12" id="interest" placeholder="Interest" />
			</div>
		</div>
		<div class="control-group row-fluid">
			<div class="controls span6">
				<input type="text" class="span12" id="mission" placeholder="Mission" />
			</div>
			<div class="controls span6">
				<input type="text" class="span12" id="public_message" placeholder="Public Message" />
			</div>
		</div>
		 <div class="control-group text-right">
			<button type="submit" class="btn">Save</button>
		</div>
	</form>
</div>