<div class="find-company">
	<div class="text-center">
		<a href="/">
			<img alt="avatar" src="/u-admin-theme/images/u_admin/medium_logo.png" />
		</a>
		<h3>Welcome to CYMPLAR</h3>
		<p>This page is for you to join a company or create your own </p>
		<form class="form-horizontal">
			<div class="control-group text-left">
			 	<label class="control-label" for="inviter">Who invite you?</label>
				<div class="controls">
					<input type="text" id="inviter" placeholder="Inviter">
				</div>
			</div>
			<div class="control-group">
				<a href="#" class="no-one">No One ?</a>
			</div>
			 <div class="control-group">
				<button type="submit" class="btn">Register Organization</button>
			</div>
		</form>
	</div>
</div>